@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
body{
    font-family: 'Open Sans', sans-serif;
}
*:hover{
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.row, .d-flex {
    margin: 25px auto;
}
section{
    float:left;
    width:100%;
    background: #fff;  /* fallback for old browsers */
    padding:30px 0;
}
h1{float:left; width:100%; color:#232323; margin-bottom:30px; font-size: 14px;}
h1 span{font-family: 'Libre Baskerville', serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px; font-weight:700}
h1 a{color:#131313; font-weight:bold;}

/*Profile Card 5*/
.profile-card-5{
    margin:25px auto;
    height: 100%;
}
.profile-card-5 .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    transition: transform .5s; /* Animation */
}
.profile-card-5 .card-img-block img{
    height: 250px;
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);
}
.card-img-block:hover {
    transform: scale(1.1); /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}
.profile-card-5 h5{
    color:#4E5E30;
    font-weight:600;
}
.profile-card-5 p{
    margin-bottom: 25px;
    font-size:14px;
    font-weight:300;
}
#choice-button {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

