<!-- PARTNERS SECTION -->
<section>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-2 col-md-3 col-6 py-2 py-lg-0"><img class="d-block mx-auto partner"
                    src="../../../assets/logo-1.png" alt="" height="25"></div>
            <div class="col-lg-2 col-md-3 col-6 py-2 py-lg-0"><img class="d-block mx-auto partner"
                    src="../../../assets/logo-2.png" alt="" height="25"></div>
            <div class="col-lg-2 col-md-3 col-6 py-2 py-lg-0"><img class="d-block mx-auto partner"
                    src="../../../assets/logo-3.png" alt="" height="25"></div>
            <div class="col-lg-2 col-md-3 col-6 py-2 py-lg-0"><img class="d-block mx-auto partner"
                    src="../../../assets/logo-4.png" alt="" height="25"></div>
            <div class="col-lg-2 col-md-3 col-6 py-2 py-lg-0"><img class="d-block mx-auto partner"
                    src="../../../assets/logo-5.png" alt="" height="25"></div>
            <div class="col-lg-2 col-md-3 col-6 py-2 py-lg-0"><img class="d-block mx-auto partner"
                    src="../../../assets/logo-6.png" alt="" height="25"></div>
        </div>
    </div>
</section>