<section class="container py-5 confidentiality">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <h2>À <span class="text-principal">ROBOMED </span> on se soucie de la sécurité de vos données.</h2>
            </div>
            <div class="col-lg-6">
                <p><em> Nous sommes conscients de l’importance d’accorder une protection et une gestion
                    adéquate des renseignements personnels que vous nous communiquez. <br />
                    Tous les renseignements personnels sont recueillis de manière juste et non intrusive et avec votre
                    consentement. <br/>
                    Les renseignements personnels recueillis ne sont accessibles qu’aux personnes nécessaires
                    afin de répondre aux fins pour lesquels ils sont recueillis.</em>
                </p>
            </div>
        </div>
    </div>
</section>