<section class="pb-5">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mx-auto mb-5 mb-lg-0 d-flex flex-column">
                <div class="numeric-block order-2 order-lg-1 mb-lg-5">
                    <div class="numeric-block-count">1</div>
                    <p class="text-muted text-uppercase mb-2">Diagnostique</p>
                    <h3>Ayez un diagnostique fiable et rapide sans vous déplacer.</h3>
                    <p class="text-muted py-3"><em>ROBOMED</em> utilise vos données pour connaître votre état de santé
                        général. Après un questionnaire bien précis, Il essayera de sortir avec un diagnostic. Devant
                        l'incertitude, il vous demandera de faire des examens supplémentaires. Les prescriptions vous
                        seront fournies après l'approbation d'un médecin superviseur.
                    </p>
                    <app-button color="#47b2e4" fontWeight="bold" textColor="#444444" text="Plus de détails">
                    </app-button>
                </div><img class="flex-grow-0 img-fluid shadow rounded order-1 order-lg-2 mb-5 mb-lg-0"
                    src="../../../assets/step-1.jpg" alt="">
            </div>
            <div class="col-lg-5 mx-auto d-flex flex-column"><img class="flex-grow-0 img-fluid shadow rounded mb-5"
                    src="../../../assets/step-2.jpg" alt="">
                <div class="numeric-block">
                    <div class="numeric-block-count">2</div>
                    <p class="text-muted text-uppercase mb-2">Coin santé</p>
                    <h3>Ayez les meilleures recommandations personnalisées.</h3>
                    <p class="text-muted py-3">Ayez tous vos rendez-vous, vos prescriptions, vos informations dans un
                        seul endroit. En plus, vous profiterez de conseils personnalisés pour votre santé. Des
                        exercices, des régimes de nutritions, et autres conseils vous seront offerts pour vous garder en
                        bonne santé.</p>
                    <app-button color="#47b2e4" fontWeight="bold" textColor="#444444" text="Plus de détails">
                    </app-button>
                </div>
            </div>
        </div>
    </div>
</section>