<section class="pb-5">
    <div class="container pb-5">
        <div class="row gy-3">
            <div class="col-lg-4">
                <div class="d-flex">
                    <div class="icon-block rounded-circle">
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </div>
                    <div class="ms-3">
                        <h5>Diagnostique fiable</h5>
                        <p class="text-sm text-muted">ROBOMED ne donne un diagnostique que quand il est certain à 100%.
                            En cas de diagnostique différentiel, vous aurez à faire les examens complémentaires.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex">
                    <div class="icon-block rounded-circle">
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </div>
                    <div class="ms-3">
                        <h5>Sauver du temps</h5>
                        <p class="text-sm text-muted">ROBOMED vous permet à vous ainsi qu'au personnel médical de sauver
                            du temps. Vous n'aurez pas à vous déplacer pour rien, ainsi nous réussirons à désengorger
                            nos urgences.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex">
                    <div class="icon-block rounded-circle">
                        <fa-icon [icon]="faCheck"></fa-icon>
                    </div>
                    <div class="ms-3">
                        <h5>Gestion des prescriptions</h5>
                        <p class="text-sm text-muted">Vous pouvez trouver sur votre portail, toutes vos prescriptions.
                            ROBOMED peut aussi les communiquer à votre pharmacie et vous avisera dès que votre
                            médicament est prêt pour le ramassage.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>